@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');

/* font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'DM Sans', sans-serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    width: 1000px;
    margin: 65px auto 0;
    color: #7D7987;
    background: linear-gradient(180deg, rgba(227, 255, 248, 0.00) 82.08%, rgba(227, 255, 248, 0.38) 100%);
    min-height: 90vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    gap: 48px;
}

ul li:hover{
    font-weight: bold;
}

a{
    color: #1f1534;
    text-decoration: none;
    font-family: 'Mulish', sans-serif
}

/* *********LADO ESQUERDO DA TELA******** */

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section{
    width: 489px;
    height: 332px;
    margin: 110px 0 133px 0;
}

section h1{
    font-family: Mulish;
    font-size: 49px;
    font-weight: 400;
    line-height: 56px;
    color: #1f1534;
}

section>h1>span{
    font-weight: 700;
    color: #89C5CC;
}

section p{
    width: 438px;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 28px;
    margin: 40px 0;
}

#button{
    color: #F9F9F9;
    background-color: #69B99D;
    border: none;
    padding: 14px 32px 15px 32px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 14px 32px 15px;
    height: 56px;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0.5x 0.5px 0.5px rgba(0, 0, 0, 0.421);
    gap: 10px;
    
}

/* ********LADO DIREITO DA TELA******* */

#cord{
    display: inline-block;
}

/* *******FOOTER******** */

footer{
    text-align: center;
}

footer span{
    color: #1f1534;
    font-weight: bold;
}

footer img{
    position: fixed;
    bottom: 0;
    right: 0;
}